
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Ski in Solitude</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/cover.css" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
  <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" type="text/css">


  <script type="text/javascript">
  function copyttime() {
    document.getElementById("ttime").value = document.getElementById("dropdownMenu").value;
  }
  function copyresort() {
    document.getElementById("resort").value = document.getElementById("dropdownMenu2").value;
  }
  </script>

</head>

<body id="wrapper">
  <div class="inner">
    <ul class="nav masthead-nav" id="links">
      <li>
        <a href="http://www.linkedin.com/in/berkeleyalmandhunter">
          <i class="fa fa-linkedin fa-2x wow bounceIn"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/BerkeleyAlmand">
          <i class="fa fa-twitter fa-2x wow bounceIn" data-wow-delay=".1s"></i>
        </a></li>
        <li>
          <a href="https:/github.com/balmandhunter">
            <i class="fa fa-github fa-2x wow bounceIn"></i>
          </a>
        </li>
        <li>
          <a href="mailto:berkeleyalmandhunter@gmail.com">
            <i class="fa fa-envelope-o fa-2x wow bounceIn" data-wow-delay=".1s"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-lg-8">
      <p id="the-cheese" class="lead">Ski in Solitude</p>
      <img class = "circle" id="circ1"></img>
      <img class = "circle" id="circ2"></img>
      <img class = "circle"></img>
      <p id="slogan">Helping you find the slope less travelled</p>
    </div>


    <div class="col-lg-12" id="form_row">
      <form method="get" action="/output" class='form-inline' name="input">

        <div class="form-group" width=20%>
          <div class="input-group">
            <input id="date-picker-2" name='date-picker-2' type="text" class="date-picker form-control" placeholder="MM/DD/YYYY">
            <label for="date-picker-2" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>
            </label>
          </div>
        </div>


        <div class="form-group" width=50%>
          <select id="dropdownMenu2" class="form-control input-sm" onchange="copyresort()">
            <option value="0"> &nbsp;&nbsp;Winter Park, CO&nbsp; </option>
          </select>
          <input type="hidden" class=text-center type="number" id="resort" name="resort" placeholder="0">
        </div>

        <div class="form-group" width=20%>
          <select id="dropdownMenu" class="form-control input-sm" onchange="copyttime()">
            <option value="0"> &nbsp;&nbsp;1 day before&nbsp; </option>
            <option value="1"> &nbsp;&nbsp;1 day before and after&nbsp; </option>
            <option value="2"> &nbsp;&nbsp;1 day after&nbsp; </option>
            <option value="3"> &nbsp;&nbsp;2 days before &nbsp; </option>
            <option value="4"> &nbsp;&nbsp;2 days before and after&nbsp; </option>
            <option value="5"> &nbsp;&nbsp;2 days after&nbsp; </option>
            <option value="6"> &nbsp;&nbsp;3 days before&nbsp; </option>
            <option value="7"> &nbsp;&nbsp;3 days before and after&nbsp; </option>
            <option value="8"> &nbsp;&nbsp;3 days after&nbsp; </option>
            <option value="9"> &nbsp;&nbsp;1 week before&nbsp; </option>
            <option value="10"> &nbsp;&nbsp;1 week before and after&nbsp; </option>
            <option value="11"> &nbsp;&nbsp;1 week after&nbsp; </option>
            <option value="12"> &nbsp;&nbsp;2 weeks before and after&nbsp; </option>
          </select>
          <input type="hidden" class=text-center type="number" id="ttime" name="ttime" placeholder="0">
        </div>
        <div class="form-group">
          <button id="search_but" type="submit" onclick="parent.location='/output'" class="btn btn-theme">Search</button>
        </div>
      </form>
    </div>

    <div class="col-lg-1"> </div>
    <div class="col-lg-5" id="plot" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div class="col-lg-5" id="plot2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


    <div class="mastfoot" id="credit_parent">
      <div class="inner" id="credit">
        <p>Application developed by <a href="http://www.berkeleyalmandhunter.com/">Berkeley Almand-Hunter</a></p>
      </div>
    </div>
  </div>


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="/static/js/ie10-viewport-bug-workaround.js "></script>
  <!-- datepicker js -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/highcharts-more.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>

  <script src="/static/js/custom.js" language="javascript"></script>

  <script language="javascript">
  $(document).ready(function () {
    $('#plot').highcharts({
      chart: {
        type: 'columnrange'
      },

      title: {
        text: 'Crowd in Winter Park, CO'
      },

      subtitle: {
        text: 'Percentage of Maximum Crowd Size'
      },
      //this should be dates
      xAxis: {
        categories: {{dates|tojson|safe}},
        color: Highcharts.getOptions().colors[1]
      },

      yAxis: {
        title: {
          text: 'Percentage of Maximum Skiers'
        }
      },

      tooltip: {
        valueSuffix: '%'
      },

      plotOptions: {
        columnrange: {
          dataLabels: {
            enabled: false,
            formatter: function () {
              return this.y + '%';
            }
          }
        }
      },

      legend: {
        enabled: false
      },

      credits: {
        enabled: false
      },

      series: [{
        name: 'Range',
        data: {{crowds|tojson|safe}},
        color: Highcharts.getOptions().colors[7]
      }, {
        type: 'spline',
        name: 'Predicted Crowd',
        data: {{crowd_pred|tojson|safe}},
        color: Highcharts.getOptions().colors[7],
        marker: {
          lineWidth: 2,
          lineColor: Highcharts.getOptions().colors[1],
          fillColor: 'white'
        }
      }]
    });
  });


  $(function () {
    $('#plot2').highcharts({
      chart: {
        type: 'columnrange'
      },
      title: {
        text: 'Ticket Price and Percent of Runs Open'
      },
      subtitle: {
        text: 'Winter Park, CO'
      },
      xAxis: [{
        categories: {{dates|tojson|safe}},
        crosshair: true,
      }],
      yAxis: [{ // Primary yAxis
        min: 74,
        labels: {
          format: '${value}',
          style: {
            color: Highcharts.getOptions().colors[1]
          }
        },
        title: {
          text: 'Ticket Price',
          style: {
            color: Highcharts.getOptions().colors[1]
          }
        }

      }, { // Secondary yAxis
        title: {
          text: '% of Runs Open',
          style: {
            color: Highcharts.getOptions().colors[7]
          }
        },
        labels: {
          format: '{value} %',
          style: {
            color: Highcharts.getOptions().colors[7]
          }
        },
        opposite: true
      }],
      tooltip: {
        shared: true
      },
      credits: {
        enabled: false
      },
      series: [{
        name: 'Runs Open Range',
        data: {{runs_range|tojson|safe}},
        color: Highcharts.getOptions().colors[7],
        yAxis: 1
      },
      {
        type: 'spline',
        name: '% of Runs Open',
        data: {{runs_open|tojson|safe}},
        color: Highcharts.getOptions().colors[7],
        marker: {
          lineWidth: 2,
          lineColor: Highcharts.getOptions().colors[1],
          fillColor: 'white'
        },
        yAxis: 1
      },
      {
        name: 'Ticket Price',
        type: 'spline',
        data: {{price|tojson|safe}},
        tooltip: {
          valueSuffix: '$'
        },
        color: Highcharts.getOptions().colors[1],
        yAxis: 0
      }]
    });
  });
  </script>

</body>
</html>
